### 1. Load the data and split into Input and Output
You can also check if there are any missing values. Simply drop the missing valued observations if any.

In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import confusion_matrix

#Import data
HDNames= ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','hal','HeartDisease']
Data = pd.read_excel('HeartData.xlsx', names=HDNames)

summary=Data.describe()
print(summary)


Datanew=Data.replace('?',np.nan)
Datanew=Datanew.dropna()

              age         sex          cp    trestbps        chol         fbs  \
count  302.000000  302.000000  302.000000  302.000000  302.000000  302.000000
mean    54.410596    0.678808    3.165563  131.645695  246.738411    0.145695
std      9.040163    0.467709    0.953612   17.612202   51.856829    0.353386
min     29.000000    0.000000    1.000000   94.000000  126.000000    0.000000
25%     48.000000    0.000000    3.000000  120.000000  211.000000    0.000000
50%     55.500000    1.000000    3.000000  130.000000  241.500000    0.000000
75%     61.000000    1.000000    4.000000  140.000000  275.000000    0.000000
max     77.000000    1.000000    4.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope  \
count  302.000000  302.000000  302.000000  302.000000  302.000000
mean     0.986755  149.605960    0.327815    1.035430    1.596026
std      0.994916   22.912959    0.470196    1.160723    0.611939
min      0.000000   71.000000    0.000000    0.000000    1.000000
25%      0.000000  133.250000    0.000000    0.000000    1.000000
50%      0.500000  153.000000    0.000000    0.800000    2.000000
75%      2.000000  166.000000    1.000000    1.600000    2.000000
max      2.000000  202.000000    1.000000    6.200000    3.000000

       HeartDisease
count    302.000000
mean       0.460265
std        0.499246
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [3]:
print(Datanew.describe())

              age         sex          cp    trestbps        chol         fbs  \
count  302.000000  302.000000  302.000000  302.000000  302.000000  302.000000
mean    54.410596    0.678808    3.165563  131.645695  246.738411    0.145695
std      9.040163    0.467709    0.953612   17.612202   51.856829    0.353386
min     29.000000    0.000000    1.000000   94.000000  126.000000    0.000000
25%     48.000000    0.000000    3.000000  120.000000  211.000000    0.000000
50%     55.500000    1.000000    3.000000  130.000000  241.500000    0.000000
75%     61.000000    1.000000    4.000000  140.000000  275.000000    0.000000
max     77.000000    1.000000    4.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope  \
count  302.000000  302.000000  302.000000  302.000000  302.000000
mean     0.986755  149.605960    0.327815    1.035430    1.596026
std      0.994916   22.912959    0.470196    1.160723    0.611939
min      0.000000   71.000000    0.000000    0.000000    1.000000
25%      0.000000  133.250000    0.000000    0.000000    1.000000
50%      0.500000  153.000000    0.000000    0.800000    2.000000
75%      2.000000  166.000000    1.000000    1.600000    2.000000
max      2.000000  202.000000    1.000000    6.200000    3.000000

       HeartDisease
count    302.000000
mean       0.460265
std        0.499246
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [4]:
Datanew.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,hal,HeartDisease
0,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
1,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
2,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
3,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0
4,56,1,2,120,236,0,0,178,0,0.8,1,0,3,0

In [9]:
print(Datanew.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296 entries, 0 to 300
Data columns (total 14 columns):
age             296 non-null int64
sex             296 non-null int64
cp              296 non-null int64
trestbps        296 non-null int64
chol            296 non-null int64
fbs             296 non-null int64
restecg         296 non-null int64
thalach         296 non-null int64
exang           296 non-null int64
oldpeak         296 non-null float64
slope           296 non-null int64
ca              296 non-null float64
hal             296 non-null float64
HeartDisease    296 non-null int64
dtypes: float64(3), int64(11)
memory usage: 34.7 KB
None

### 2. Scale the data
Use `StandardScaler`

### 3. Split Data into train and test sets

### 4. Create Keras model and compile it

Have only one hidden layer. Use `sigmoid` activation function at the output.

### 5. Evaluate the Model

You may try to create the confusion matrix using `sklearn.metrics` library